/* Common */
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
body {
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
}
.fixed {
  width: 100%;
  position: absolute;
  background: #3a1759;
  color: #FFF;
  z-index: 20;
  left: 0;
}
.fixed-header {
  width: 100%;
  position: absolute;
  background: #3a1759;
  color: #FFF;
  z-index: 20;
  left: 0;
  height: 50px;
}
.fixed-header h1 {
  margin: 0 auto;
  font-size: 35px;
  padding-top: 2vw;
}
.fixed-header,
.score {
  top: 0;
  text-align: center;
}
.fixed-footer {
  position: absolute;
  background: #3a1759;
  color: #FFF;
  z-index: 20;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 100%;
}
.content {
  position: absolute;
  height: calc(100% - 75px);
  overflow: auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  background: #EEEEEE;
  margin: 0 5%;
  top: 50px;
}
.container {
  width: 100%;
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
}
.container h1,
h2 {
  text-align: center;
  margin: 0 auto;
}
.container h1 {
  font-size: 5vw;
  line-height: 8vw;
}
.container h2 {
  font-size: 4.5vw;
}
.container h3 {
  font-size: 4vw;
}
.container p {
  text-align: center;
  font-size: 3.5vw;
  line-height: 6vw;
}
.bigText {
  font-size: 6vw;
}
#joinid {
  height: 10vw;
  text-align: center;
}
.form-inner {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.button-wrapper {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 2vw 0;
}
.round-head,
.help-hover {
  display: inline-block;
  padding: 0;
}
.head-wrapper {
  text-align: center;
}
.head-wrapper h3 {
  font-size: 4vw;
  margin-top: 1vw;
}
#dname {
  margin-bottom: 0;
}
#newDName,
#changeDName {
  margin: 10px 0 0;
}
#joinid {
  height: 8vw;
}
#teamsTab {
  width: 75%;
  margin: 0 auto;
}
.pad {
  margin-bottom: 3vw;
}
#teamsTab tr td {
  height: 6vw;
}
#teamsTab > tbody > tr > :nth-child(2) {
  text-align: right;
}
/* Round CSS */
#game-started {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
/* Common Round top */
#scores-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}
.team-score {
  height: inherit;
  width: 18vw;
  text-align: center;
}
#timer {
  display: flex;
  margin: auto 0;
  margin-top: 1%;
  padding: 2px;
  background: #FFF;
  border-radius: 5px;
}
/* Round Body */
.round-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  text-align: center;
}
.round-body h3 {
  font-size: 4vw;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 0;
  margin-top: 5px;
}
.scale-height-big {
  font-size: 4vh;
}
.scale-height-med {
  font-size: 3vh;
}
.scale-height-small {
  font-size: 2.5vh;
}
.wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  text-align: center;
  min-height: 300px;
}
.end-wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  text-align: center;
  min-height: 300px;
  justify-content: flex-end;
}
.q-wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  text-align: center;
  min-height: 300px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  padding: 10px;
}
.col-wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  text-align: center;
  min-height: 300px;
  flex-flow: column wrap;
  justify-content: start;
  max-width: 54vw;
}
.clue-wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  text-align: center;
  min-height: 300px;
  flex-flow: column wrap;
  justify-content: start;
  max-width: 54vw;
  justify-content: space-evenly;
  flex-grow: 0;
  width: 36vw;
}
.vote-wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  text-align: center;
  min-height: 300px;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
}
.circle.nomargin {
  margin-top: 1%;
}
.circle {
  border-radius: 50%;
  background: #2bda2b;
  width: 10%;
  margin-top: 3%;
}
.circle.smaller {
  margin: 3%;
  width: 5%;
}
.question {
  flex: 1 1 auto;
  border: solid 1px #3a1759;
  border-radius: 5px;
  width: 30vw;
  margin: 8px 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question-active {
  background: #e2d3ee;
  flex: 1 1 auto;
  border: solid 1px #3a1759;
  border-radius: 5px;
  width: 30vw;
  margin: 8px 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question-active:active {
  background: #d2b3ee;
}
.question-inactive {
  background: #a397ac;
  border-width: 0px;
  flex: 1 1 auto;
  border: solid 1px #3a1759;
  border-radius: 5px;
  width: 30vw;
  margin: 8px 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question-selected {
  flex: 1 1 auto;
  border: solid 1px #3a1759;
  border-radius: 5px;
  width: 30vw;
  margin: 8px 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  margin: 7px 15px;
}
.buzz-button {
  border: solid 1px #3a1759;
  border-radius: 5px;
  text-align: center;
  margin: 10px 7.5%;
  font-size: larger;
  width: 85%;
  background: #e04646;
  flex: 0 1 auto;
}
.smaller {
  font-size: smaller;
}
.thinner {
  width: 95%;
}
.scrollable {
  font-size: smaller;
  flex-grow: 1;
  width: 93%;
  overflow: scroll;
  background: #fcfcfc;
  margin-left: 5%;
  padding: 3px;
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
}
.helptext {
  color: #6a6a6a;
  text-align: center;
}
.msg {
  display: flex;
}
.msgcontent {
  padding-left: 4px;
  word-break: break-word;
}
#sendbox {
  text-align: left;
  margin: 10px;
  width: 90%;
}
