/* Common */
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
body {
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
}
.fixed {
  width: 100%;
  position: absolute;
  background: #3a1759;
  color: #FFF;
  z-index: 20;
  left: 0;
}
.fixed-header {
  width: 100%;
  position: absolute;
  background: #3a1759;
  color: #FFF;
  z-index: 20;
  left: 0;
  height: 50px;
}
.fixed-header h1 {
  margin: 0 auto;
  font-size: 35px;
  padding-top: 2vw;
}
.fixed-header,
.score {
  top: 0;
  text-align: center;
}
.fixed-footer {
  position: absolute;
  background: #3a1759;
  color: #FFF;
  z-index: 20;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 100%;
}
.content {
  position: absolute;
  height: calc(100% - 75px);
  overflow: auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  background: #EEEEEE;
  margin: 0 5%;
  top: 50px;
}
.container h1,
h2 {
  text-align: center;
  margin: 0 auto;
}
.container {
  width: 100%;
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
}
.container h1 {
  font-size: 5vw;
  line-height: 8vw;
}
.container h2 {
  font-size: 4.5vw;
}
.container h3 {
  font-size: 4vw;
}
.container p {
  text-align: center;
  font-size: 4vw;
  line-height: 6vw;
}
.bigText {
  font-size: 6vw;
}
#joinid {
  height: 10vw;
  text-align: center;
}
.form-inner {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.pad-bottom {
  padding-bottom: 15px;
  height: 3em;
}
.button-wrapper {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 2vw 0;
}
.round-head,
.help-hover {
  display: inline-block;
  padding: 0;
}
.head-wrapper {
  text-align: center;
}
.head-wrapper h3 {
  font-size: 4vw;
  margin-top: 1vw;
}
#dname {
  margin-bottom: 0;
}
#newDName,
#changeDName {
  margin: 10px 0 0;
}
#joinid {
  height: 12vw;
}
#teamsTab {
  width: 90%;
  margin: 0 auto;
  table-layout: fixed;
}
#teamsTab tr td {
  height: 10vw;
}
#teamsTab td,
#teamsTab th {
  text-align: left;
  width: 35%;
}
#teamsTab td:nth-child(2),
#teamsTab th:nth-child(2) {
  width: 30%;
  text-align: center;
}
#teamsTab td:nth-child(3),
#teamsTab th:nth-child(3) {
  text-align: right;
}
.pad {
  margin-bottom: 3vw;
}
#makeLeader {
  font-size: 4vw;
}
/* Round CSS */
#game-started {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
/* Common Round top */
#scores-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}
.team-score {
  height: inherit;
  width: 18vw;
  text-align: center;
}
#timer {
  display: flex;
  margin: auto 0;
  margin-top: 1%;
  padding: 2px;
  background: #FFF;
  border-radius: 5px;
}
.round-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  text-align: center;
}
.round-body h3 {
  font-size: 4vw;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 0;
  margin-top: 5px;
}
.floating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
}
.floating .box {
  width: 90%;
  background: #FFF;
  border: 1px #000 solid;
  margin: auto;
  margin-top: 50px;
}
.floating .box h1 {
  font-size: 3vh;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
  margin-bottom: 5px;
}
.scale-height-big {
  font-size: 4vh;
}
.scale-height-med {
  font-size: 3vh;
}
.scale-height-small {
  font-size: 2vh;
}
.wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  text-align: center;
}
.name {
  flex: 1 1 auto;
  display: flex;
  font-size: 4vw;
}
.name-end {
  flex: 1 1 auto;
  display: flex;
  font-size: 4vw;
  justify-content: flex-end;
}
.q-wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  padding: 10px;
}
.a-wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  text-align: center;
  padding: 0 10px;
}
.c-wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  text-align: center;
  justify-content: space-around;
}
.col-wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  text-align: center;
  flex-flow: column wrap;
  justify-content: start;
  max-width: 54vw;
}
.clue-wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  text-align: center;
  flex-flow: column wrap;
  justify-content: start;
  max-width: 54vw;
  justify-content: space-evenly;
  flex-grow: 0;
  width: 36vw;
}
.vote-wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
}
.icon {
  height: 4vw;
  width: 4vw;
  margin-top: 1%;
}
.icon.circle {
  border-radius: 50%;
}
.icon.crown {
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 33% 50%, 50% 0%, 66% 50%, 100% 0%, 100% 100%);
  clip-path: polygon(0% 100%, 0% 0%, 33% 50%, 50% 0%, 66% 50%, 100% 0%, 100% 100%);
}
.icon.smaller {
  width: 3vw;
  height: 3vw;
  margin-right: 1vw;
}
.icon.nomargin {
  margin-top: 0;
}
.question {
  flex: 1 1 auto;
  border: solid 1px #3a1759;
  border-radius: 5px;
  width: 30vw;
  margin: 8px;
  margin-right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  box-shadow: none;
}
.active {
  background: #d2c3de;
  flex: 1 1 auto;
  border: solid 1px #3a1759;
  border-radius: 5px;
  width: 30vw;
  margin: 8px;
  margin-right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  box-shadow: none;
}
.active:active {
  background: #e2d3ee;
  box-shadow: 0 0 15px #888888;
}
.question-active {
  background: #d2c3de;
  flex: 1 1 auto;
  border: solid 1px #3a1759;
  border-radius: 5px;
  width: 30vw;
  margin: 8px;
  margin-right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  box-shadow: none;
}
.question-active:active {
  background: #e2d3ee;
  box-shadow: 0 0 15px #888888;
}
.inactive {
  background: #a397ac;
}
.question-inactive {
  flex: 1 1 auto;
  border: solid 1px #3a1759;
  border-radius: 5px;
  width: 30vw;
  margin: 8px;
  margin-right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  box-shadow: none;
  background: #a397ac;
}
.selected {
  box-shadow: 0 0 8px #888888;
}
.question-selected {
  flex: 1 1 auto;
  border: solid 1px #3a1759;
  border-radius: 5px;
  width: 30vw;
  margin: 8px;
  margin-right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  box-shadow: none;
  box-shadow: 0 0 8px #888888;
}
.clue {
  flex: 1 1 auto;
  border: solid 1px #3a1759;
  border-radius: 5px;
  width: 30vw;
  margin: 8px;
  margin-right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  box-shadow: none;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  perspective: 600px;
}
.clue-active {
  transition: transform 0.5s;
  transform-style: preserve-3d;
  perspective: 600px;
  background: #d2c3de;
  flex: 1 1 auto;
  border: solid 1px #3a1759;
  border-radius: 5px;
  width: 30vw;
  margin: 8px;
  margin-right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  box-shadow: none;
}
.clue-active:active {
  background: #e2d3ee;
  box-shadow: 0 0 15px #888888;
}
.clue-inactive {
  flex: 1 1 auto;
  border: solid 1px #3a1759;
  border-radius: 5px;
  width: 30vw;
  margin: 8px;
  margin-right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  box-shadow: none;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  perspective: 600px;
  background: #a397ac;
}
.clue-face {
  position: absolute;
  width: 100%;
  margin: auto;
  backface-visibility: hidden;
  padding: 5px;
}
.clue-face.back {
  transform: rotateY(180deg);
}
.clue-flipped {
  flex: 1 1 auto;
  border: solid 1px #3a1759;
  border-radius: 5px;
  width: 30vw;
  margin: 8px;
  margin-right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  box-shadow: none;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  perspective: 600px;
  font-size: smaller;
  background: #FFFFFF;
  transform: rotateY(180deg);
}
.answer {
  flex: 1 1 auto;
  border: solid 1px #3a1759;
  border-radius: 5px;
  width: 30vw;
  margin: 8px;
  margin-right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  box-shadow: none;
  margin-right: 8px;
  font-size: 4vw;
  padding: 5px;
}
.answer.wrong {
  background: #ee9b9b;
}
.answer.right {
  background: #9bee9b;
  box-shadow: 0 0 8px #888888;
}
.answer.split {
  background: linear-gradient(90deg, #9bee9b 30%, #ee9b9b 0);
}
.solution {
  background: #3a1759;
  overflow-x: scroll;
  text-align: center;
  max-height: 1.7em;
  margin: 5px 0;
}
.solution .solution-inner {
  line-height: 1.7em;
  font-size: 16px;
  color: #FFF;
  font-weight: bolder;
  white-space: nowrap;
}
#buzz-button {
  border: solid 1px #3a1759;
  border-radius: 5px;
  text-align: center;
  margin: 10px 7.5%;
  font-size: larger;
  width: 85%;
  background: #967b7b;
  flex: 0 1 auto;
  padding: 5px 0;
  visibility: hidden;
}
#buzz-button.enabled {
  background: #e75d5d;
}
#buzz-button.enabled:active {
  background: #e66d6d;
  box-shadow: 0 0 8px #888888;
}
.smaller {
  font-size: smaller;
}
.thinner {
  width: 95%;
}
.scrollable {
  flex-grow: 1;
  width: 93%;
  overflow: scroll;
  background: #fcfcfc;
  margin-left: 5%;
  padding: 3px;
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
}
.helptext {
  color: #6a6a6a;
  text-align: center;
}
.msg {
  display: flex;
  font-size: 4vw;
}
.msgcontent {
  padding-left: 4px;
  word-break: break-word;
  max-width: 25vw;
}
#sendbox {
  text-align: left;
  margin: 10px;
  width: 90%;
}
.roundborder {
  border-radius: 5px;
  border: 1px #000 solid;
  padding: 2px;
  margin: 5px;
  width: 45%;
}
.roundborder:active {
  background: #c7c7c7;
}
