<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">

    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="css/styles.css" /> -->

    <!-- Mobile CSS -->
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="css/mobile.min.css" />

    <!-- Browser CSS -->
    <link rel="stylesheet" type="text/css" media="only screen and (min-device-width: 481px)" href="css/browser.min.css" />

  </head>
  <body>
    <div class=fixed-header>
      <h1 id="top">Simply Connect</h1>
    </div>
    <div class=content>
      <!-- Constant Header -->
      <div class="container keyboard-hide">
        <h1 id="head">Game ID: {{gameCode}}</h1>
      </div>

      <!-- Error Page -->
      <div class="container state-cont" id="state-1" style='display:none'>
        <p><b>Game not Found!</b></p>
        <div class=button-wrapper>
          <input class="home-but btn btn-success btn-block bigText" value="Home">
        </div>
      </div>

      <!-- Lobby -->
      <div class="container state-cont" id="state0" style='display:none'>
        <p>Your Display Name is: </p>
        <b><p id=dname>&nbsp;</p></b>
        <div class="form-inner">
          <div class="form-group">
            <input type="text" id="newDName" class="form-control"placeholder="Display Name" maxlength="8">
          </div>
          <div class="form-group">
            <button id="changeDName" class="btn btn-default" disabled="true">Update</button>
          </div>
        </div>
        <div class="form-inner">
          <div class="form-group">
            <button id="readyUp" class="btn btn-default" disabled="true">Ready!</button>
            <button id="start" class="btn btn-default" disabled="true">Start!</button>
          </div>
        </div>
        <table id=teamsTab>
          <tr>
            <th>Team 1</th>
            <th></th>
            <th>Team 2</th>
          </tr>
          <tr>
            <td><button id="joinT1" class="btn btn-default pad" disabled=true>Join</button></td>
            <td><button id="makeLeader" class="btn btn-default pad">Become<br>Leader</button></td>
            <td><button id="joinT2" class="btn btn-default pad" disabled=true>Join</button></td>
          </tr>
        </table>
      </div>

      <div id="game-started" class="state-cont" style='display:none'>

        <!-- Constant top of Question rounds -->
        <div class="head-wrapper container keyboard-hide">
          <h2 id=round-head> ROUND 1 </h2>
          <!-- <button class="btn btn-secondary help-hover">?</button> -->
          <h3 id=round-desc> See up to 4 clues, Find the connection! </h3>
        </div>
        <div id="scores-div">
          <div class="team-score">
            <div class=" keyboard-hide">
              <div id="head-t1" class="scale-height-small"> Team 1 </div>
              <div class="score"> <h2 id="score-t1" class="scale-height-big">0</h2></div>
            </div>
          </div>
          <div id="timer" class="state-cont" style="display:none">
            <h2 class="scale-height-big">45</h2>
          </div>
          <div class="team-score">
            <div class=" keyboard-hide">
              <div id="head-t2" class="scale-height-small"> Team 2 </div>
              <div class="score"> <h2 id="score-t2" class="scale-height-big">0</h2></div>
            </div>
          </div>
        </div>

        <!-- Round 1: 4 clues - Connection -->
        <div id="state1" class="state-cont round-body" style='display:none'>
          <h3 id="helper-s1" class="keyboard-hide">&nbsp;</h3>
          <div class="q-wrapper">
            <div id="qA" class="q question-inactive">A</div>
            <div id="qB" class="q question-inactive">B</div>
            <div id="qC" class="q question-inactive">C</div>
            <div id="qD" class="q question-inactive">D</div>
            <div id="qE" class="q question-inactive">E</div>
            <div id="qF" class="q question-inactive">F</div>
          </div>
        </div>
        <div id="state1.1" class="state-cont round-body" style='display:none'>
          <h3 id="helper-s1.1" class="keyboard-hide">&nbsp;</h3>
          <div class="wrapper">
            <div class="col-wrapper">
              <div id="buzz-button">
                BUZZ!
              </div>
              <div class="scrollable" id="chat-s1.1">
                <div id="messages">
                <!-- Messages -->
                </div>
                <p id="helper-s1.1-msgs" class="helptext scale-height-small"> </p>
              </div>
              <div id="sendbox-div">
                <input id="sendbox" type="text">
              </div>
            </div>
            <div class="clue-wrapper">
              <div id="clue1" class="clue clue-inactive">
                  <div class="clue-face front">?</div>
                  <div class="clue-face back">TEST</div>
              </div>
              <div id="clue2" class="clue clue-inactive">
                  <div class="clue-face front">?</div>
                  <div class="clue-face back">TEST</div>
              </div>
              <div id="clue3" class="clue clue-inactive">
                  <div class="clue-face front">?</div>
                  <div class="clue-face back">TEST</div>
              </div>
              <div id="clue4" class="clue clue-inactive">
                  <div class="clue-face front">?</div>
                  <div class="clue-face back">TEST</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Round 2: 3 clues - Series -->
        <div id="state2"   class="state-cont" style='display:none'>
          ROUND 2
        </div>

        <!-- State 5: End of Game -->
        <div id="state5"   class="state-cont" style='display:none'>
          <p>&nbsp;</p>
          <div class=button-wrapper>
            <input class="home-but btn btn-success btn-block bigText" value="Home">
          </div>
          <div class=button-wrapper>
            <input class="restart-but btn btn-success btn-block bigText" value="Home">
          </div>
        </div>

      </div>
    </div>

    <div id="state1.2" class="state-cont floating" style='display:none'>
      <div id="AnswerBox1.2" class="box" style='display:none'>
        <h1> Enter your Answer: </h1>
        <div class="form-inner pad-bottom">
          <input id="answerBox" type="text" autocomplete="off"/>
          <input id="submitAnswer" type="button" value="Submit"/>
        </div>
      </div>
      <div id="WaitBox1.2" class="box" style='display:none'>
        <h1> Waiting for Others to Answer... </h1>
      </div>
      <div id="VoteBox1.2" class="box" style='display:none'>
        <h1> Select all correct answers </h1>
        <div class="solution">
          <div class="solution-inner">
            &nbsp;<span class=solution-span></span>&nbsp;
          </div>
        </div>
        <div class="a-Wrapper">
          <div id="answer_team1" class="answer wrong"></div>
          <div id="answer_team2" class="answer wrong"></div>
        </div>
        <div class="c-wrapper">
          <div id="confirmVote" class="roundborder"> Confirm </div>
          <div id="skipVote" class="roundborder"> Skip </div>
        </div>
      </div>
      <div id="ResultsBox1.2" class="box" style='display:none'>
        <h1> Results </h1>
        <div class="solution">
          <div class="solution-inner">
            &nbsp;<span class=solution-span></span>&nbsp;
          </div>
        </div>
        <div class="a-Wrapper">
          <div id="result_team1" class="answer"></div>
          <div id="result_team2" class="answer"></div>
        </div>
        <div class="c-wrapper">
          <div id="nextQ" class="roundborder" style='display:none'> Continue </div>
        </div>
      </div>
    </div>

    <!-- Constant Footer -->
    <div class=fixed-footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/7.15.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <!-- <script src="/__/firebase/7.15.0/firebase-analytics.js"></script> -->
    <script src="/__/firebase/7.15.0/firebase-auth.js"></script>
    <script src="/__/firebase/7.15.0/firebase-firestore.js"></script>

    <script src="/__/firebase/init.js"></script>

    <script src="scripts/firebase_client.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/Javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
<html>
